<launch>
  <node pkg="waypoint_control"
    type="waypoint_control"
    name="waypoint_control_node"
    output="screen"
    ns="phoenix">

    <param name="defaultMode" value="hover"/> <!-- either goes to "hover" or "aggressive" mode by default. -->

    <!-- Misc parameters -->
    <param name="quadName" type="string" value="hippogriff"/>
    <param name="quadPoseTopic" type="string" value="local_odom"/>
    <param name="quadWaypointTopic" type="string" value="refPose1"/> <!-- topic for single wpts -->
    <param name="quadWaypointListTopic" type="string" value="/phoenix/trajectory"/> <!-- topic for lists of wpts -->
    <param name="joyTopic" type="string" value="joy"/> <!-- topic for joystick data -->
    <param name="publishPVA_Topic" type="string" value="px4_control/PVA_Ref"/>
    <param name="gps_fps" value="20"/>
    <param name="pubRate" value="20"/> <!-- rate in Hz of trajectory message output-->

    <!-- Arena parameters -->
    <param name="xCenter" value="0.0"/> <!-- home position to take off to -->
    <param name="yCenter" value="0.0"/>
    <param name="zCenter" value="0.0"/>
    <!-- NOTE: gps_kf sets initial pose/vel to 0 -->

    <!-- Safety params -->
    <param name="accel_max" value="10"/>
    <param name="vmax_for_timing" value="40"/> <!--Used for coarse timing/takeoff/etc -->
    <param name="vmax_real" value="10"/> <!-- Used to determine need for intermediate waypoints -->
    <param name="waypointHitDist" value="0.0"/> <!-- Must be this close to record passage through wpt -->
        <!-- Set wptHitDist=0 to enable timing option -->

    <!-- PATH FOLLOWING PARAMETERS -->
    <param name="kpX" value="0.8"/> <!-- 3.8 -->
    <param name="kpY" value="0.8"/>
    <param name="kpZ" value="1.1"/>
    <param name="kdX" value="0.15"/> <!-- 1.4 -->
    <param name="kdY" value="0.15"/>
    <param name="kdZ" value="0.25"/>
    <param name="kiX" value="0.2"/>
    <param name="kiY" value="0.2"/>
    <param name="kiZ" value="0.3"/>
    <param name="kfx" value="1"/> <!-- feedforward gains -->
    <param name="kfy" value="1"/>
    <param name="kfz" value="1"/>
    <param name="maxInteg_X" value="1"/>
    <param name="maxInteg_Y" value="1"/>
    <param name="maxInteg_Z" value="1"/>

    <!-- TIGHT HOVER PX4_CONTROL PARAMETERS  (this node changes between posMode gains and wptCtrl gains and needs to know all of it to udpate properly) -->
    <param name="kpX_h" value="2.05"/>
    <param name="kpY_h" value="2.00"/>
    <param name="kpZ_h" value="1.75"/>
    <param name="kdX_h" value="1.90"/>
    <param name="kdY_h" value="1.95"/>
    <param name="kdZ_h" value="1.25"/>
    <param name="kiX_h" value="0.045"/>
    <param name="kiY_h" value="0.050"/>
    <param name="kiZ_h" value="0.075"/>
    <param name="maxInteg_X_h" value="1.0"/>
    <param name="maxInteg_Y_h" value="1.0"/>
    <param name="maxInteg_Z_h" value="1.0"/>
    
    <!-- AGGRESSIVE FLIGHT PX4_CONTROL PARAMETERS  (this node changes between posMode gains and wptCtrl gains and needs to know all of it to udpate properly) -->
    <param name="kpX_p" value="3.0"/>
    <param name="kpY_p" value="3.0"/>
    <param name="kpZ_p" value="1.9"/>
    <param name="kdX_p" value="1.8"/>
    <param name="kdY_p" value="1.8"/>
    <param name="kdZ_p" value="1.5"/>
    <param name="kiX_p" value="0.3"/>
    <param name="kiY_p" value="0.3"/>
    <param name="kiZ_p" value="0.2"/>
    <param name="maxInteg_X_p" value="1.0"/>
    <param name="maxInteg_Y_p" value="1.0"/>
    <param name="maxInteg_Z_p" value="1.0"/>

  </node>
</launch>
